<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card">
			<div class="card-header" th:text=${titulo}></div>
			<div class="card-body">


				<h4 class="card-title">
					<a class="btn btn-primary" th:href="@{/form}">Crear usuarios</a>
					<a class="btn btn-primary" th:href="@{/listarPregunta}">Listar Preguntas</a>
					<a class="btn btn-primary" th:href="@{/formPregunta}">Crear Pregunta</a>
				</h4>
				<table class="table table-striped">
					<thead>
						<!-- columnas -->
						<tr>
							<th>codPregunta</th>
							<th>enunciado</th>
							<th>nivel</th>
							<th>opcion01</th>
							<th>opcion02</th>
							<th>opcion03</th>
							<th>opcion04</th>
							<th>opcionCorrecta</th>
							<th>puntaje</th>
						</tr>
					</thead>
					<tbody>
						<!-- filas -->
						<tr th:each="pregunta: ${preguntas}">
							<td th:text="${pregunta.codPregunta}"></td>
							<td th:text="${pregunta.enunciado}"></td>
							<td th:text="${pregunta.nivel}"></td>
							<td th:text="${pregunta.opcion01}"></td>
							<td th:text="${pregunta.opcion02}"></td>
							<td th:text="${pregunta.opcion03}"></td>
							<td th:text="${pregunta.opcion04}"></td>
							<td th:text="${pregunta.opcionCorrecta}"></td>
							<td th:text="${pregunta.puntaje}"></td>
							<td><a class="btn btn-success"
								th:href="@{/formPregunta/} + ${pregunta.codPregunta}">Modificar</a></td>
							<td><a class="btn btn-danger"
								th:href="@{/eliminarPregunta/} + ${pregunta.codPregunta}"
								onclick="return confirm('Estás seguro que quieres eliminar esta pregunta?');">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>